.container{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 0;
}

.heading{
    flex-grow: 1;
    &>h2{
        font-size: 48px;
        font-weight: 700;
    }
}

.content{
    font-size: 24px;
    font-weight: 300;
    flex-basis: 40dvw;
    &>p{
        margin-bottom: 2rem;
    }

    &__btn{
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        &>button{
            font-size: 16px;
            border: 1px solid black;
        }
    }
}