.container{
    position: relative;
}

.search_layout{
    width: fit-content;
    height: 2rem;
    border-radius: 2rem;
    
    background-color: #ffffff36;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

}

.icon{
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
}

.input{
    flex-grow: 1;
    border: none;
    background: transparent;
    &:focus{
        border: none;
        outline: none;
    }
    &::placeholder{
        color: white;
        
    }
}

.key{
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-right: 8px;
    padding: 2px 4px;
    &>span{
        color: #fff;
        font-size: 12px;
    }
}


.result_layout{
    position: absolute;
    left: 0;
    right: 0;

}

.list{
    border-radius: 16px;
    background: #f7f7f7;
    list-style-type: none;
    padding: 4px 1rem;
    margin: 0;
}