.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;


    &.primary{
        background-color: black;
        color: white;
    }

    &>a{
        text-decoration: none;
        font-weight: 500;
        color: inherit;
        padding: 4px 8px;
    }
}






// .disable{
//     cursor: not-allowed;
// }

// .light{
//     color: black;
//     background-color: white;
//     font-weight: 500;
//     transition: all 200ms;
//     &:hover{
//         background-color: rgb(222, 222, 222);
//     }

//     &.disable{
//         background-color: rgb(222, 222, 222);
//         color: rgb(151, 151, 151);
//     }
// }

